/* THESE ARE OUR VARIABLES */

$primary-color: white;
$secondary-color: #f3edae;
$tertiery-color: rgb(173, 173, 173);
$quarternary-color: gold;
$quinary-color: rgb(22, 22, 22);
$senary-color: rgb(255, 238, 144);
$septenary-color: rgba(0, 0, 0, 0.3);

$fontstack: Arial, corbel, sans-serif;
$base-font-size: 1.1em;
